*{
    margin: 0;
    padding: 0;
    background-color: azure;
    color: black;
}
h1{
    justify-content: center;
    text-align: center;
}
p{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

h1:first-child{
    background-color: rgb(218, 151, 6);
}